# Uncomment this line and set it to the path of the client files to set a
# custom data path. Otherwise ServUO will look for the client in the default
# Windows installation directories. Note that this is *required* when running
# on non-Windows systems.
# CustomPath=C:\Program Files (x86)\Electronic Arts\Ultima Online Classic
<<<<<<< HEAD
CustomPath=C:\Kairence_UO\Ultima Online Classic
=======
CustomPath=D:\Kairence_UO\Ultima Online Classic
>>>>>>> f7402a25f12f041c463d8a87f4db1f085b93c90b
